<div
  class="z-10  origin-top-right  py-1 focus:outline-none fixed right-0 top-0 w-svw h-svh bg-white  overflow-y-auto
            md:mt-0 md:h-auto md:max-h-[500px] md:w-96 md:origin-top-right  md:absolute md:top-12  md:border md:border-[#dfdfe8] shadow-[0_6px_10px_0px_rgba(0,0,0,0.05)]"
  role=" menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

  <div class=" flex items-center justify-between mb-10  px-8 pt-8 md:mb-0 md:px-2 md:pt-2">
    <div>
      <p class="block px-4 pt-2 text-md text-gray-900 font-bold" role="menuitem" tabindex="-1">
        {{user?.userName}}
      </p>
      <p class="italic block px-4 pb-2 text-md text-gray-400 dark:text-gray-400" role="menuitem" tabindex="-1">
        {{user?.email}}</p>
    </div>

    <button (click)="onToogleProfileMenu()" type="button" aria-label="close modal"
      class=" focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer ">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round">
        </path>
        <path d="M6 6L18 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round">
        </path>
      </svg>
    </button>
  </div>

  <!-- Active: "bg-gray-100", Not Active: "" -->

  <a (click)="onOpenModal()" id="profile-menu-item"
    class=" block px-4 py-4 md:text-sm text-lg text-gray-700 cursor-pointer hover:bg-slate-100 border-t text-center"
    role="menuitem" tabindex="-1"> Profile</a>
  <a (click)="onLogout()"
    class=" block px-4 py-4 md:text-sm text-lg text-gray-700 cursor-pointer  hover:bg-slate-100 border-t border-b md:border-b-0 text-center"
    role="menuitem" tabindex="-1"> Logout</a>
</div>
