<li class="flex items-center mb-2 md:mb-6 ">
  <div class="sm:mt-2  w-full p-5 md:mt-10 shadow-lg bg-slate-50 rounded-lg">
    <div class="mt-2 space-y-3">

      <div class="grid grid-cols-[18%_82%] xs:grid-cols-[50%_50%] relative w-full">
        <div class="md:p-1 mr-1">
          <button   type="button" (click)="onOpenModal('profile')" class="relative flex rounded-full text-sm"
            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <img alt="Edit Profile" class="w-14 h-14 rounded-full" [src]="user?.avatar" alt="user-avatar">
          </button>
        </div>
        <input #toogleButtonInput  (click)="onOpenModal('post')"  class="text-left text-base p-2 border border-gray-300 rounded-lg text-gray-400 cursor-pointer"
          value="What's on your mind?" type="button">
        <button alt="New Post" type="button" class="flex absolute inset-y-0 right-0 items-center pr-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
          </svg>
        </button>
      </div>


    </div>
  </div>
</li>

<!-- <wall-modal-upload #divModal></wall-modal-upload> -->
