<nav class="bg-gray-800 ">
  <div class=" px-2 sm:px-6 lg:px-12">
    <div class="relative flex h-16 items-center justify-between">

      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button (click)="onToggleMenu()" type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>



      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company">
          <span class="hidden md:block text-white text-center ml-3 md:text-xl font-bold ">SOCIAL BOOK NETWORK</span>
        </div>

      </div>





      <div
        class="navbar-buttons absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">


        <!-- Main Menu -->

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a [routerLink]="['wall']" routerLinkActive="bg-gray-900 text-white"
              class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page">Wall</a>
            <a [routerLink]="['users']" routerLinkActive="bg-gray-900 text-white"
              class=" text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Users</a>
          </div>
        </div>

        <!-- Notifications -->

        <div (clickOutside)="closeNotifications($event)" class="relative ml-3" #toogleNotificationButton>
          <div>
            <button class="" type="button" (click)="onToogleNotificationMenu()"
              class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white  focus:text-white ">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
              @if (notificationsCount() > 0) {
              <span class="absolute inset-0 object-right-top -mr-5 -mt-1">
                <div
                  class="inline-flex items-center px-1.5 py-0.3 border border-white rounded-full text-[10px] font-semibold leading-4 bg-[#3a4554] text-white">
                  @if(notificationsCount() > 5) {
                  5+
                  }@else {
                  {{notificationsCount() }}
                  }

                </div>
              </span>
              }
            </button>
          </div>
          <div [ngClass]="{'hidden' : !this.topbarService.showNotificationMenu()}">
            <app-notification />
          </div>
        </div>

        <!-- Profile dropdown -->

        <div (clickOutside)="closeProfileDrop($event)"  class=" relative ml-3" #toogleProfileButton>
          <div>
            <button type="button" (click)="onToogleProfileMenu()"
              class=" relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" [src]="user!.avatar" alt="user-avatar">
            </button>
          </div>


          @if (this.topbarService.showProfileMenu()) {
          <app-profile-dropdown class="profile-dropdown" />
          }

        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div [ngClass]="{'hidden' : !topbarService.showMenu()}" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a [routerLink]="['wall']" routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md block px-3 py-2 text-base font-medium">Wall</a>
      <a [routerLink]="['users']" routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md block px-3 py-2 text-base font-medium">Users</a>
    </div>
  </div>

</nav>
