<nav class="bg-gray-800">
  <div class=" px-2 sm:px-6 lg:px-12">
    <div class="relative flex h-16 items-center justify-between">

      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button (click)="onToggleMenu($event)" type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>



      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company">
          <span class="hidden md:block text-white text-center ml-3 md:text-xl font-bold ">SOCIAL BOOK NETWORK</span>
        </div>

      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a [routerLink]="['wall']" routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page">Wall</a>
            <a [routerLink]="['users']" routerLinkActive="bg-gray-900 text-white"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Users</a>
          </div>
        </div>
        <div class="relative ml-3">
          <div>
            <button type="button" (click)="onToogleNotificationMenu($event)"
              class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white  focus:text-white ">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
              @if (notificationsCount() > 0) {
              <span class="absolute inset-0 object-right-top -mr-5 -mt-1">
                <div
                  class="inline-flex items-center px-1.5 py-0.3 border border-white rounded-full text-[10px] font-semibold leading-4 bg-[#3a4554] text-white">
                  @if(notificationsCount() > 5) {
                  5+
                  }@else {
                  {{notificationsCount() }}
                  }

                </div>
              </span>
              }
            </button>
          </div>
          <div [ngClass]="{'hidden' : !this.topbarService.showNotificationMenu}">
            <app-notification />
          </div>
        </div>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button type="button" (click)="onToogleProfileMenu($event)"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" [src]="user!.avatar" alt="user-avatar">
            </button>
          </div>



          <div [ngClass]="{'hidden' : !topbarService.showProfileMenu}"
            class="
            z-10  origin-top-right  py-1 focus:outline-none fixed right-0 top-0 w-svw h-svh bg-white  overflow-y-auto
            md:mt-0 md:h-auto md:max-h-[500px] md:w-48 md:origin-top-right  md:absolute md:top-12  md:border md:border-[#dfdfe8] shadow-[0_6px_10px_0px_rgba(0,0,0,0.05)]"
            role=" menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

            <div class="flex items-center justify-between mb-10  px-8 pt-8 md:mb-0 md:px-2 md:pt-2">
              <div>
                <p class="block px-4 pt-2 text-md text-gray-900 font-bold" role="menuitem" tabindex="-1">
                  {{user?.userName}}
                </p>
                <p class="italic block px-4 pb-2 text-md text-gray-400 dark:text-gray-400" role="menuitem"
                  tabindex="-1">
                  {{user?.email}}</p>
              </div>

              <button (click)="onToogleProfileMenu($event)" type="button" aria-label="close modal"
                class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer md:hidden">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 6L6 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round">
                  </path>
                  <path d="M6 6L18 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round">
                  </path>
                </svg>
              </button>
            </div>

            <!-- Active: "bg-gray-100", Not Active: "" -->

            <a (click)="onOpenModal()"
              class=" block px-4 py-4 md:text-sm text-lg text-gray-700 cursor-pointer hover:bg-slate-100 border-t text-center"
              role="menuitem" tabindex="-1"> Profile</a>
            <a (click)="onLogout()"
              class=" block px-4 py-4 md:text-sm text-lg text-gray-700 cursor-pointer  hover:bg-slate-100 border-t border-b md:border-b-0 text-center"
              role="menuitem" tabindex="-1"> Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div [ngClass]="{'hidden' : !topbarService.showMenu}" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a [routerLink]="['wall']" routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md block px-3 py-2 text-base font-medium">Wall</a>
      <a [routerLink]="['users']" routerLinkActive="bg-gray-900 text-white"
        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md block px-3 py-2 text-base font-medium">Users</a>
    </div>
  </div>

</nav>
