<li class="flex flex-row md:px-6" onload="getUsers($index)">
  <div class="select-none  hover:bg-gray-50 flex flex-1 items-center p-4">
    <div class="flex flex-col w-10 h-10 justify-center items-center mr-4">
      <div class="block relative">
        <img alt="profile" [src]="user().avatar" class="mx-auto object-cover rounded-full h-10 w-10" />
      </div>
    </div>
    <div class="flex-1 pl-1 mr-16">
      <div class="font-medium dark:text-white">{{user().userName}}</div>
      <div class="text-gray-600 dark:text-gray-200 text-sm">{{user().email}}</div>
    </div>
    <div class="">
      @if (!isFollowing()) {
      <button (click)="onFollow()" type="button" [disabled]="currentUser?.id === user().id"
        class="inline-block rounded-xl md:rounded-full bg-[#335D91] px-3 py-2 md:px-6 md:pb-2 md:pt-2.5 text-xs font-medium leading-normal
           text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-[#112745] hover:shadow-primary-2
           focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2
           motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong disabled:bg-[#6C94C4]">
        <i class="fa fa-user-plus mr-1" aria-hidden="true"></i><span class="hidden md:inline-block">Follow</span>
      </button>
      }@else {
      <button (click)="onUnfollow()" type="button" [disabled]="currentUser?.id === user().id"
        class="inline-block rounded-xl md:rounded-full bg-green-600 px-3 py-2 md:px-6 md:pb-2 md:pt-2.5 text-xs font-medium leading-normal
             text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-green-800 hover:shadow-primary-2
             focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2
             motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong ">
        <i class="fa fa-user-check mr-1" aria-hidden="true"></i><span class="hidden md:inline-block">Following</span>
      </button>

      }

    </div>
  </div>
</li>
