<div #modal
  class="main-modal fixed w-full h-[auto] inset-0 z-50 overflow-auto-auto justify-center items-center animated faster"
  [ngClass]="modalUploadService.visible() ? 'flex fadeIn' : 'hidden fadeOut' " style="background: rgba(0,0,0,.7);">

      @switch (modalUploadService.modalType()) {
      @case ('profile') {
      <ng-content select="app-profile-form"></ng-content>
      }
      @case ('post') {
      <ng-content select="app-post-form"></ng-content>
      }

      @case ('user') {
      <ng-content select="app-user-modal"></ng-content>
      }
      }

</div>
